<div class="container">
  <div *ngIf="posts.length > 0">
    <div class="row" *ngFor="let post of posts">
      <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <a [routerLink]="['/post', post.url]">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <span class="post-subtitle" style="line-height:1.6; font-size:12px">
              {{post.excerpt.content}}
            </span>
          </a>
          <p class="post-meta">Posted by <a href="#">Isaac Levin</a> on {{post.postedOn | date: 'shortDate'}}</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div *ngIf="posts.length == 0" style="text-align:center">
    <h1>No Posts Found</h1>
  </div>
</div>
