@import "~bootstrap/scss/bootstrap.scss";
@import '~font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
/* *** Overall APP Styling can go here ***
   --------------------------------------------
   Note: This Component has ViewEncapsulation.None so the styles will bleed out

*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.footer {
  background: lightblue;
  color: white;
  padding-bottom: 5px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}



//@media only screen and (min-width: 768px) {
  .header, .content, .footer {
    display: table-row;
  }

  .header, .footer {
    height: 0;
    padding: 5px;
  }

  .footer {
    padding: 50px 0 65px;
  }
//}

footer .copyright {
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
}


.inner {
  height: 100%;
  overflow: auto;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: #333333;
}

a:hover,
a:focus {
  color: #0085A1;
}

a img:hover,
a img:focus {
  cursor: zoom-in;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.intro-header {
  background-color: lightblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 10px 0 10px 0;
  color: white;
}



.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 30px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
  .intro-header {
    height: 180px;
  }
  .intro-header .post-heading h1 {
    font-size: 55px;
  }

  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.intro-header .post-heading h1 {
  font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}

.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}

.intro-header .post-heading .meta {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.intro-header .post-heading .meta a {
  color: white;
}

.post-preview > a {
  color: #333333;
}

.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}

.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}

.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}

::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #0085A1;
}


.list-inline-item:not(:last-child) {
  margin-right: 1em;
}
