<h1>{{title}}</h1>
<section class="admin-posts">
  <div class="row expanded" *ngIf="!showEdit">
    <div class="large-3 columns">
      <div class="admin-canvas-content">
        <pc-loader [loading]="loading"></pc-loader>
        <div class="row">
          <div class="large-12 columns">

            <div class="clearfix">
              <button class="button tiny secondary float-left"
                      (click)="selectPost()">
                Add
              </button>
            </div>
            <div class="card-block table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Created Date</th>
                    <th>Last Modified</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of posts">
                    <td>
                      <button type="button" (click)="selectPost(post); staticModal.show()">
                        <i class="fa fa-fw fa-edit"></i>
                      </button>
                      <button type="button" (click)="remove(post.id)">
                        <i class="fa fa-fw fa-trash"></i>
                      </button>                      
                      <a routerLink="/post/{{post.url}}" href="" target="_blank">  <i class="fa fa-fw fa-eye"></i></a>                      
                    </td>
                    <td>{{post.name}}</td>
                    <td>{{post.url}}</td>
                    <td>{{post.createdOn | date: 'shortDate'}}</td>
                    <td>{{post.modifiedOn | date: 'shortDate'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--<pc-pager (onPageClicked)="onPageClicked($event)"
                      [countPerPage]="postService.countPerPage"
                      [currentPageIndex]="postService.currentPageIndex"
                      [totalItemsInCollection]="postService.totalItemsInCollection"></pc-pager>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row large-9 columns" *ngIf="showEdit">
    <div class="admin-canvas-content">
      <pc-loader [loading]="loading"></pc-loader>
      <div class="row">
        <div class="large-12 columns">
          <div class="clearfix">
            <button class="button tiny secondary float-lefft save"
                    (click)="showEdit = false">
              Go Back
            </button>
            <button class="button tiny secondary float-right save"
                    (click)="save(selectedPost)">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label>
            Title
            <input type="text"
                   [(ngModel)]="selectedPost.title">
          </label>
        </div>
        <div class="large-3 columns">
          <label>
            URL
            <input type="text"
                   [(ngModel)]="selectedPost.url">
          </label>
        </div>
        <div class="large-3 columns">
          <label>
            Code Link
            <input type="text"
                   [(ngModel)]="selectedPost.link">
          </label>
        </div>
        <div class="large-3 columns">
          <label>
            Meta
            <input type="text"
                   [(ngModel)]="selectedPost.meta">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>
            Large Image
            <input type="text"
                   [(ngModel)]="selectedPost.image">
          </label>
          <label>
            Small Image
            <input type="text"
                   [(ngModel)]="selectedPost.smallImage">
          </label>
          <label>
            Icon Image
            <input type="text"
                   [(ngModel)]="selectedPost.iconImage">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label>
            Created On
            <input type="text"
                   [ngModel]="selectedPost.createdOn | date:'MM-dd-yyyy'"
                   disabled>
          </label>
        </div>
        <div class="large-3 columns">
          <label>
            Posted On
            <input type="text"
                   [ngModel]="selectedPost.postedOn | date:'MM-dd-yyyy'"
                   disabled>
          </label>
        </div>
        <div class="large-3 columns">
          <label>
            Modified On
            <input type="text"
                   [ngModel]="selectedPost.modifiedOn | date:'MM-dd-yyyy'"
                   disabled>
          </label>
        </div>
        <div class="large-3 columns">
          <input id="published" type="checkbox"
                 [checked]="selectedPost.published"
                 (change)="selectedPost.published = !selectedPost.published"><label for="published">Published</label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>
            Description <span>({{getDescriptionLength()}})</span>
            <textarea [(ngModel)]="selectedPost.description"
                      class="admin-post-description"></textarea>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Excerpt
            <textarea [(ngModel)]="selectedPost.excerpt.content"
                      *ngIf="selectedPost.excerpt"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>
            Article
            <ckeditor [(ngModel)]="selectedPost.article.content" [config]="config"></ckeditor>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <fieldset class="fieldset">
            <legend>Categories</legend>
            <span *ngFor="let category of categories" class="admin-post-collection-item">
              <input type="checkbox" (click)="onCategoryClick(category)"
                     [checked]="selectedPost.category && selectedPost.category.id === category.id">
              <label>{{ category.name | truncate : 20 }}</label>
            </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <fieldset class="fieldset">
            <legend>Tags</legend>
            <span *ngFor="let tag of tags" class="admin-post-collection-item">
              <input type="checkbox" (click)="onTagClick(tag)"
                     [checked]="isTagSet(tag)"><label>{{ tag.name | truncate : 20 }}</label>
            </span>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>
