@import "../../styles/_social.scss";

.article-meta-data {
  width: 100%;
  display: table;
  background: lightblue;
  margin: 0 0 1.5rem;
  display: table;
  table-layout: initial;
}

@media screen and (min-width: 640px) {
  .article-meta-data {
    table-layout: fixed !important;
  }

  .article-meta-data-section {
    display: table-cell !important;
    font-size: 20px
  }

  a.article-meta-data-section {
    height: 4rem !important;
    display: table-cell !important;
    font-size: 20px
  }
}

.post a.article-meta-data-section, .post .article-meta-data-section {
  font-weight: normal;

  a {
    font-weight: normal;
  }
}

.article-meta-data-section {
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
  display: block;

  a {
    color: white;
    font-weight: normal;

    &:hover {
      color: black;
      text-decoration: none;
      transition: ease all .3s;
    }
  }
}

a.article-meta-data-section {
  display: block;

  &:hover {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    transition: ease all .3s;
  }
}
