<header class="intro-header">
  <div class="site-heading" style="display:table; margin: 0 auto">
    <div style="display:table-cell">
      <h1>About Me</h1>
      <hr class="small">
      <span class="subheading">If you can't tolerate critics, don't do anything new or interesting. - Jeff Bezos</span>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="image">
        <img [src]="image" title="Isaac Levin" />
      </div>
      <p>
        Hi, my name is Isaac Levin and I am a Microsoft Certified Solution Developer, Microsoft Certiied Solution Associate and Microsot Specalist living in Norwalk, CT. My emphasis in the developer space is primarily
        centered around .Net, .Net Core, and front-end technologies like Node.js and Angular. I have always been interested in things beyond the horizon, and my eyes lit up when I first started reading into Cloud Computing
        and how we can extend our reach by leveraging technologies not only maintained by large organizations but the OSS as well. I have worked in various industries such as financial services, marketing, education, real estate, and most recently beverage.
      </p>
      <p>
        On the personal side, I am husband to an amazing wife, and father to 1 (this will change in a few months) amazing boy. My non-work related life is centered around spending time with my family, running 4-5 times a week
        watching as much TV as I can get my hands on, and playing guitair terribly.
      </p>
      <h3>Information About Application</h3>
      <ul>
        <li>Angular Version: {{version}}</li>
        <li>WebPack: 3.10.0</li>
        <li>Bootstrap: 4.0.0-alpha.6</li>
        <li>DotNet Runtime Framework: {{about.runtimeFramework}}</li>
        <li>Entity Framework Core: 2.0.0</li>
      </ul>
    </div>
  </div>
</div>
