<div style="background-color:lightblue; height: 55px; color:white; width:100%; display: flex !important">
  <a routerLink="/" [routerLinkActive]="['router-link-active']" style="flex-direction: row; margin-left: auto !important; margin-right:100px; font-size:20px" class="list-group-item">
    Home
  </a>
  <nav class="navbar navbar-inverse navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<app-admin-menu></app-admin-menu>
<section class="admin-container">
  <router-outlet></router-outlet>
</section>
